# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/

# ERiC SDK Binaries (Lizenz verbietet Weitergabe!)
eric_lib/**/*.so
eric_lib/**/*.dll
eric_lib/**/plugins/
eric_lib/win64/
eric_lib/linux64/

# ERiC Test-Daten
eric_lib/*.xml
eric_lib/*.pfx
eric_lib/*.bat

# Zertifikate
certs/*.pfx
certs/*.p12
certs/*.pem

# Logs
logs/*.log

# Environment
.env

# IDE
.vscode/
.idea/

# Docker
.docker/
